body{
    background-color: lightblue;
}

h1{
    text-decoration: underline;
    font-size: 5rem;
}

h3{
    font-size: 8rem;
}

h4{
    position: absolute;
    bottom: 2%;
    font-size: 8rem;
}
h2{
    position: absolute;
    bottom: 14%;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 6%;
}

#timer{
    border: solid 10px darkblue;
    border-radius: 1.2rem;
    font-size: 6rem;
}

.clock{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 3% 20% 0 20%;

}

.order{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}